body{
    background-color: #e0e0dd;
    font-size: 15px;
    font-family: sans-serif;
    padding: 0px;
    margin: 0px;
}
.hamburger{
    display: none;
    cursor: pointer;
}
.hamburger div{
    width: 35px;
    height: 3px;
    background-color: grey;
    margin: 6px 0;
}
.open .bar1{
    transform: rotate(-45deg) translate(-6px,5px);
}
.open .bar3{
    transform: rotate(45deg) translate(-2px,-1px);
}
.open .mobilemenu{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #d3d6db;
    padding: 50px;
    margin-left: 40px;
    width: 60%;
    
}
.mobilemenu{
    position: absolute;
    left: 0;
    top: 100px;
    display: none;
} 
.mobilemenu li{
    margin-bottom: 10px;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding: 2px;
    padding-right: 10px;
    background-color: #c9c9c6;
    width: 100%;
    top: 0;
}
.header h2{
    float: left;
    padding-left: 10px;
    font-size: 35px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.header li{
    float: left;
    list-style: none;
    padding: 0 20px 0 20px;
    align-content: center;
}
.header li:hover{
    color: blue;
}
.header button{
    padding: 15px;
    color: white;
    background-color: rgb(4, 4, 27);
    border-radius: 50px;
}
.header button:hover{
    background-color: rgb(11, 11, 61);
}
.signupbutton{
    color: white;
    font-size: 1.1em;
    text-decoration: none;
}

.wrapper{
    display: flex;
    gap: 0px 6px;
    justify-content: center;
    margin-bottom: -10%;
}
.shape{
    display: inline-block;
    width: 25px;
    height: 25px;
    animation: convert 1s infinite ease-in;
}
.text{
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(14, 22, 171);
}
@keyframes convert{
    0%,100%{
        border-radius: 50%;
    }
    50%{
        border-radius: 0%;
        transform: rotate(90deg) scale(0.6);
        background: #DE4F2E;
    }
}
.heading{
    text-align: center;
}
.ProductContainer {
    margin-top: 6.9%;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


.IndividualProduct {
    display: flex;
    flex-direction: column;
    width: 25%;
    margin-bottom: 4%;
    border: 1px solid rgb(158, 25, 114);
    box-shadow: 0 0 1px 2px;
    justify-content:space-around;
    text-align: center;
    border-radius: 20px;
    background-color: white;
    padding: 10px;
    z-index: 1;
}

.Producttitle {
    font-size: 1em;
}

.ProductImage {
    padding: 20px;
    width: 80%;
    height: 50%;
    border-radius: 20px;
}
.ProductCategory{
    font-size: 1.5em;
    font-weight: 600;
}
.ProductDescription{
    font-size: 0.8em;
    text-align:  center;
}

.ProductPrice{
    font-size: 2em;
    font-weight: 600;
}
.productsrate{
    color: rgb(29, 33, 29);
    font-weight: 700;
}

.ratingcolum{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

footer{
    margin-top: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.footer1{
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 50px;
}
a{
    text-decoration: none;
    font-size: 1.2em;
    color: rgb(5, 5, 32);
}
.footer1 a:hover{
    color: blue;
}
.footer2{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    align-items: center;
    line-height: 50px;
}
.footer2 a:hover{
    color: blue;
}
.footer3{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    align-items: center;
    line-height: 50px;
}
.footer3 a:hover{
    color: blue;
}
.footer4{
    width: 25%;
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: column;
}
.footer4 p{
    font-size: 1.2em;
}
.lastbutton{
    padding: 10px;
    background-color: blue;
    color: white;
    border-radius: 40px;
    cursor: pointer;
}
.footerlast{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
@media (max-width:950px) {
    .header{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        width: 97%;
        position: relative;
    }
    .header nav{
        display: none;
    }
    .hamburger{
        display: block;
    }
    .mobileheader ul{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        line-height: 30px;
        padding: 0;
    }
    .header button{
        margin-left: -20px;
    }
    .ProductContainer{
        margin-top: -10%;
        display: flex;
        flex-direction: column;
        align-content: center;
    }

    .IndividualProduct{
        width: 70%;
    }
    .ProductImage{
        width: 80%;
        height: 50%;
    }
    footer{
        margin-top: 100px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .footer4{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 100%;
    }
    .footerlast{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
}