body{
    background-color: #c9c9c6;
    font-size: 15px;
    font-family: sans-serif;
    padding: 0px;
    margin: 0px;
}
.hamburger{
    display: none;
    cursor: pointer;
}
.hamburger div{
    width: 35px;
    height: 3px;
    background-color: grey;
    margin: 6px 0;
}
.open .bar1{
    transform: rotate(-45deg) translate(-6px,5px);
}
.open .bar3{
    transform: rotate(45deg) translate(-2px,-1px);
}
.open .mobilemenu{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #d3d6db;
    padding: 50px;
    margin-left: 40px;
    width: 60%;
    
}
.mobilemenu{
    position: absolute;
    left: 0;
    top: 100px;
    display: none;
} 
.mobilemenu li{
    margin-bottom: 10px;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding: 2px;
    padding-right: 10px;
    background-color: #c9c9c6;
    position: fixed;
    width: 100%;
    top: 0;
}
.header h2{
    float: left;
    padding-left: 10px;
    font-size: 35px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.header li{
    float: left;
    list-style: none;
    padding: 0 20px 0 20px;
    align-content: center;
}
.header li:hover{
    color: blue;
}
.header button{
    padding: 15px;
    color: white;
    background-color: rgb(4, 4, 27);
    border-radius: 50px;
}
.header button:hover{
    background-color: rgb(11, 11, 61);
}
.signupbutton{
    color: white;
    font-size: 1.1em;
    text-decoration: none;
}
.firstcontainer{
    width: 100%;
    height: 100vh;
    margin-top: 150px;
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: row;

}
.firstcontainerleft{
    width: 30%;
    height: 100vh;
    background-color: #c9c9c6;
    padding-left: 50px;

}
.firstcontainerleft h1{
    
    font-size: 3.5em;
    color: #1b273b;
}
.firstcontainerleft p{
    color: #40495a;
    font-size: 20px;
}
.firstcontainerleft img{
    width: 100%;
}

.firstcontainerrigth{
    width: 63%;
}
.signupform{
    background-color: white;
    height: 95%;
    padding: 50px 25px;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    border-radius: 20px;
}
.signupform span{
    font-size: 16px;
    font-weight: 500px;
    line-height: 20px;
    box-sizing: border-box;
    margin-bottom: 10px;
    
}
.signupform input{
    width: 50%;
    height: 5%;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}
#checkboxdata{
    width: 30px;
}
.validate{
    width: 15%;
    height: 5%;
    background-color: rgb(4, 4, 27);
    border-radius: 50px;
    color: white;
}

.buttonsfornextpage{
    display: none;
}
.productbutton{
    width: 15%;
    height: 5vh;
    border-radius: 20px;
    background-color: rgb(17, 7, 77);
    color: white;
}
footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 100px;
}
.footer1{
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 50px;
}
a{
    text-decoration: none;
    font-size: 1.2em;
    color: rgb(5, 5, 32);
}
.footer1 a:hover{
    color: blue;
}
.footer2{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    align-items: center;
    line-height: 50px;
}
.footer2 a:hover{
    color: blue;
}
.footer3{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    align-items: center;
    line-height: 50px;
}
.footer3 a:hover{
    color: blue;
}
.footer4{
    width: 25%;
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: column;
}
.footer4 p{
    font-size: 1.2em;
}
.lastbutton{
    padding: 10px;
    background-color: blue;
    color: white;
    border-radius: 40px;
    cursor: pointer;
}
.footerlast{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
/* validating form */
.warn{
    color: red;
}
.success{
    color: green;
}
#warnfname{
    font-size: 12px;
}
#warnlname{
    font-size: 12px;
}
#warnemail{
    font-size: 12px;
}
#warnpwd{
    font-size: 12px;
}
#warnrpwd{
    font-size: 12px;
}
#warncheck{
   font-size: 12px;
}
@media (max-width:950px) {
    .header{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        width: 100%;
        position: relative;
    }
    .header nav, .header button{
        display: none;
    }
    .hamburger{
        display: block;
    }
    .mobileheader ul{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        line-height: 30px;
        padding: 0;
    }
    .header button{
        margin-left: -20px;
    }
    .firstcontainer{
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
    }
    .firstcontainerleft{
        display:  flex;
        flex-direction: column;
        align-items: center;   
        width: 90%; 
        height: 100%;
        margin-top: -100px;
    }
    .firstcontainerleft p{
        text-align: center;
        width: 80%;
    }
    .firstcontainerleft img{
        width: 80%;
    }
    .firstcontainerrigth{
        width: 100%;
        top: 0;
    }
    .signupform{
        margin-top: 50px;
        width: 85%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .signupform input{
        width: 75%;
        height: 4vh;
        border-radius: 10px;
        border-color: #d8dfeb;
        /* border-width: 3px; */
    }
    .validate{
        width: 45%;
    }
    .warn{
        margin-bottom: 0;
    }
    .name{
        width: 100%;
        color: rgb(14, 75, 129);
        text-align: center;
    }
    .buttonsfornextpage{
        display: none;
        justify-content: center;
    }
    .productbutton{
        width:20vw ;
    }
    footer{
        margin-top: 100px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .footer4{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 100%;
    }
    .footerlast{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
}