body{
    background-color: #e0e0dd;
    font-size: 15px;
    font-family: sans-serif;
    padding: 0px;
    margin: 0px;
}
.hamburger{
    display: none;
    cursor: pointer;
}
.hamburger div{
    width: 35px;
    height: 3px;
    background-color: grey;
    margin: 6px 0;
}
.open .bar1{
    transform: rotate(-45deg) translate(-6px,5px);
}
.open .bar3{
    transform: rotate(45deg) translate(-2px,-1px);
}
.open .mobilemenu{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    background-color: #d3d6db;
    padding: 50px;
    margin-left: 40px;
}
.mobilemenu{
    position: absolute;
    left: 0;
    top: 100px;
    display: none;
} 
.mobilemenu li{
    margin-bottom: 10px;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding: 2px;
    padding-right: 10px;
    background-color: #c9c9c6;
    position: fixed;
    width: 100%;
}
.header h2{
    float: left;
    padding-left: 10px;
    font-size: 35px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.header li{
    float: left;
    list-style: none;
    padding: 0 20px 0 20px;
    align-content: center;
}
.header li:hover{
    color: blue;
}
.header button{
    padding: 15px;
    color: white;
    background-color: rgb(4, 4, 27);
    border-radius: 50px;
}
.header button:hover{
    background-color: rgb(11, 11, 61);
}
.signup{
    color: white;
    font-size: 1.1em;
    cursor: pointer;
}
.firstcontainer{
    display: flex;
    flex-direction: row;
    padding-top: 120px;
}
.firstcontainerleft{
    width : 50%;
    padding-left: 50px;
}
.firstcontainerleft h1{
    font-size: 5em;
    padding-top: 0px;
    margin-top: 0px;
    width: 50%;
}
.firstcontainerleft p{
    margin-top: -30px;
    padding-top: 0px;
    font-size: 17px;
    font-family:'Courier New', monospace;
    text-align: left;
    width: 50%;
}
.firstcontainerleftend{
    padding: 0px;
    height: 10%;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-around;
    width: 50%;
}
.firstcontainerleftend button{
    padding: 8px;
    color: white;
    background-color: rgb(38, 38, 235);
    border-radius: 20px;
}
.firstcontainerleftend a{
    text-decoration: none;
    color: rgb(19, 18, 18);
}
.firstcontainerleftend a:hover{
    color: blue;
}
.firstcontainerright{
    width: 50%;
    align-content: center;
    justify-content: center;
}
.secondcontainer{
    padding-top: 4em;
}
#secondcontainerh1{
    text-align: center;
    font-size: 35px;
}
.secondcontainerinside{
    display: flex;
    flex-direction: row;
    align-content: center;
    padding: 50px;
}
.secondcontainerinside h1{
    font-size: 20px;
}
.secondcontainerinside p{
    text-align: center;
    font-size: 18px;
    color: rgb(65, 64, 64);
}
.secondcontainerinsidebox .one {
    background-color: white;
    border-radius: 75px 75px 75px 0px;
    margin-top: 10px;
}
.secondcontainerinsidebox .two {
    background-color: white;
    border-radius: 75px 75px 75px 75px;
}
.secondcontainerinsidebox .three {
    background-color: white;
    border-radius: 75px 75px 0px 0px;
}
.secondcontainerinsidebox{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.thirdcontainer{
    background-color: white;
    padding: 10px 50px 10px 50px;
}

.thirdcontainer h1{
    font-weight: 600;
    font-size: 60px;
    text-align: left;
}
.thirdcontainerinside{
    display: flex;
    flex-direction: row;
    color: rgb(189, 187, 187);
}
hr{
    color: rgb(189, 187, 187);
}
.thirdcontainerinside .one:hover{
    color: black;
    transition: 0.8s;
}
.thirdcontainerinside .two:hover{
    color: black;
    transition: 0.8s;
}.thirdcontainerinside .three:hover{
    color: black;
    transition: 0.8s;
}
.thirdcontainerimage{
    max-width: 100%;
}
.forthcontainer{
    margin: 0;
    padding-top: 10em; 
    padding-left: 2em;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.forthcontainerleft{
    padding-left: 1px;
    width: 50%;
}
.forthcontainerleft h1{
    border: 2.5px solid rgb(25, 86, 216);
    font-size: 3em;
    font-weight: 600;
    text-align: center;
    color: rgb(82, 79, 79);
    width: 60%;
}
.forthcontainer p{
    font-size: 1.2em;
    font-family:Helvetica, sans-serif;
    font-weight: 100;
    line-height: 25px;
    text-align: left;
    color: rgb(85, 83, 83);
    width:72%;
}
.forthcontainerleft .buttonindiv{
    padding: 20px;
    background-color: blue;
    color: white;
    border-radius: 50px;
}
.forthcontainerright img{
    max-width: 100%;
}
.fifthcontainer{
    margin: 0;
    padding-top: 10em; 
    padding-left: 2em;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.fifthcontainerleft{
    padding-left: 1px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.fifthcontainerleft h1{
    font-size: 2.5em;
    font-weight: 600;
    text-align: right;
    color: rgb(82, 79, 79);
}
.fifthcontainerleft p{
    font-size: 1.2em;
    font-family:Helvetica, sans-serif;
    font-weight: 100;
    line-height: 25px;
    text-align: leff;
    float: right;
    padding-right: 50px;
    color: rgb(85, 83, 83);
    width:70%;
}
.fifthcontainerleft .buttonindiv{
    padding: 20px;
    background-color: blue;
    color: white;
    padding-right: 20px;
    border-radius: 50px;
    width: 20%;
}
.fifthcontainerright img{
    max-width: 100%;
}
.sixthcontainer{
    margin: 0;
    padding-top: 10em; 
    padding-left: 2em;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.sixthcontainerleft{
    padding-left: 10px;
    width: 50%;
}
.sixthcontainerleft h1{
    font-size: 3em;
    font-weight: 600;
    text-align: left;
    color: rgb(82, 79, 79);
    width: 60%;
}
.sixthcontainer p{
    font-size: 1.2em;
    font-family:Helvetica, sans-serif;
    font-weight: 100;
    line-height: 25px;
    text-align: left;
    color: rgb(85, 83, 83);
    width: 72%;
}
.sixthcontainerleft .buttonindiv{
    padding: 20px;
    background-color: blue;
    color: white;
    border-radius: 50px;
}
.sixthcontainerright img{
    max-width: 100%;
}
.seventhcontainer{
    height: 100vh;
    background-color: rgb(2, 2, 36);
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    align-items: center;
}
.seventhcontainer img{
    width: 20%;
    height: 40%;
}
.seventhcontainer h1{
    width: 50%;
    text-align: center;
}
.seventhcontainer p{
    width: 50%;
    text-align: center;
}
.seventhcontainer button{
    margin-top: 40px;
    padding: 20px;
    background-color: blue;
    color: white;
    border-radius: 40px;
    width: 15%;
    font-size: 1.2em;
}
footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.footer1{
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 50px;
}
a{
    text-decoration: none;
    font-size: 1.2em;
    color: rgb(5, 5, 32);
}
.footer1 a:hover{
    color: blue;
}
.footer2{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    align-items: center;
    line-height: 50px;
}
.footer2 a:hover{
    color: blue;
}
.footer3{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    align-items: center;
    line-height: 50px;
}
.footer3 a:hover{
    color: blue;
}
.footer4{
    width: 25%;
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: column;
}
.footer4 p{
    font-size: 1.2em;
}
.lastbutton{
    padding: 10px;
    background-color: blue;
    color: white;
    border-radius: 40px;
    cursor: pointer;
}
.footerlast{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

@media (max-width:950px) {
    .header{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        width: 100%;
        position: relative;
        padding-bottom: 50px;
    }
    .header nav{
        display: none;
    }
    .hamburger{
        display: block;
    }
    .mobileheader ul{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        line-height: 30px;
        padding: 0;
    }
    .header button{
        margin-left: -20px;
    }
    .firstcontainer{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;

    }
    .firstcontainerleft{
        width: 90%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }
    .firstcontainerleft h1{
        width: 100%;
        text-align: center;
    }
    .firstcontainerleft p{
        width: 95%;
        text-align: center;
    }
    .firstcontainerleftend{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        line-height: 100px;
        padding: 20px;
    }
    .firstcontainerright{
        width: 100%;
    }
    .firstcontainerright img{
        width: 100%;
    }
    .secondcontainerinside{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .secondcontainerinsideboxseparator{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .secondcontainerinsidebox p{
        width: 70%;
    }
    .thirdcontainer h1{
        text-align: center;
    }
    .thirdcontainerinside{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        text-align: center;
        padding-bottom: 100px;
    }
    .thirdcontainerimage img{
        width: 100%;
    }
    .forthcontainer{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .forthcontainerleft{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
        padding-bottom: 20px;
    }
    .fifthcontainer{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .fifthcontainerright{
        order: 2;
    }
    .fifthcontainerleft{
        order: 1;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        padding-bottom: 50px;
    }
    .fifthcontainerleft
    .buttonindiv{
        width: 50%;
    }
    .sixthcontainer{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        padding: 5px;
    }
    .sixthcontainerleft{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        padding-bottom: 40px;
    }
    .sixthcontainerright{
        padding-bottom: 40px;
    }
    .seventhcontainer{
        display: flex;
        flex-wrap: wrap;
        height: 100%;
        padding-bottom: 50px;
    }
    .seventhcontainer button{
        width: 50%;
    }
    footer{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .footer4{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 100%;
    }
    .footerlast{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
}